@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #afafaf;
}

.reveal .reveal-child {
  opacity: 0;
  transition: opacity 0.5s 0.4s ease-in-out;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.reveal .reveal-child.reveal-center-banner {
  transform: rotateY(720deg) scale(0);
  -webkit-transform: rotateY(720deg) scale(0);
  -moz-transform: rotateY(720deg) scale(0);
  -ms-transform: rotateY(720deg) scale(0);
  -o-transform: rotateY(720deg) scale(0);
}
.reveal.active .reveal-child {
  opacity: 1;
  transform: rotateY(0) scale(1);
  -webkit-transform: rotateY(0) scale(1);
  -moz-transform: rotateY(0) scale(1);
  -ms-transform: rotateY(0) scale(1);
  -o-transform: rotateY(0) scale(1);
}

.parent-delay.reveal.active .reveal-child[data-item-show="1"] {
  transition-delay: 0.5s;
}
.parent-delay.reveal.active .reveal-child[data-item-show="2"] {
  transition-delay: 1s;
}
.parent-delay.reveal.active .reveal-child[data-item-show="3"] {
  transition-delay: 1.5s;
}
.parent-delay.reveal.active .reveal-child[data-item-show="4"] {
  transition-delay: 2s;
}
.parent-delay.reveal.active .reveal-child[data-item-show="5"] {
  transition-delay: 2.5s;
}

.container {
  padding-inline: 40px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  z-index: 10;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px;
}
nav .container .logo {
  width: 150px;
  height: auto;
}
nav .container .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .container .options {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav .container .options .search {
  width: 24px;
  height: 24px;
}
nav .container .options .language {
  background: none;
  border: none;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
nav .container .options .links {
  position: relative;
  min-width: 240px;
  border-top: 1px solid #FFF;
  color: #FFF;
}
nav .container .options .links .header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 20px 12px;
  z-index: 1;
}
nav .container .options .links .header-links .active-link {
  font-weight: bold;
  z-index: -1;
}
nav .container .options .links .header-links .toggle-links {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background: none;
  border: none;
  padding: 2px;
  z-index: 4;
  outline: none;
}
nav .container .options .links .header-links .toggle-links img {
  rotate: 45deg;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .container .options .links .list-links {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  pointer-events: none;
  background: #333;
  z-index: 1;
  transform-origin: top;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 0;
  overflow: hidden;
}
nav .container .options .links .list-links li {
  display: flex;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
nav .container .options .links .list-links li a {
  padding-inline: 12px;
  text-decoration: none;
  font-size: 18px;
  padding-block: 4px;
  color: #FFF;
  font-weight: bold;
  transition: color 0.3s ease;
  font-weight: bold;
}
nav .container .options .links .list-links li a:hover,
nav .container .options .links .list-links li a .active-link {
  color: #59BDC1;
}
nav .container .options .links .list-links.toggled {
  opacity: 1;
  max-height: 500px;
  pointer-events: all;
  padding: 20px 0 8px;
}
nav .container .options .links .list-links.toggled li {
  transform: translateY(0);
}

.pattern-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -10;
  pointer-events: none;
}
.pattern-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 150px 20px;
}
.banner .container .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.banner .container .hero-container .title {
  color: #FFF;
  font-weight: bold;
  font-size: clamp(42px, 5.4vw, 80px);
  max-width: 30%;
}
.banner .container .hero-container .centred-image {
  width: 25%;
}
.banner .container .hero-container .description {
  color: #FFF;
  max-width: 30%;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */