@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Myriad Pro Regular"),
    url("../font/MYRIADPRO-REGULAR.woff") format("woff");
}

// Colors
$primary-color: #000;
$secondary-color: #333;
$accent-color: #007bff;
$text-color: #212121;
$primary-text-color: #59bdc1;
$primary-text-color-opacity: rgba(89, 190, 193, 0.15);
$light-color: #fff;
$normal-font: clamp(12pt, 2vw, 14pt);
$button-font: 12pt;
$font-xl: clamp(24pt, 5.4vw, 48pt);
$font-lg: clamp(20pt, 4vw, 30pt);
$font-semi-lg: clamp(12pt, 2vw, 16pt);
$font-footer-title: clamp(16pt, 2vw, 24pt);
$font-md: 14pt;
$font-sm: 12pt;
* {
  box-sizing: border-box;
  font-family: "Myriad Pro Regular", sans-serif;
}
.reveal {
  .reveal-button {
    opacity: 0;
    transition:
      opacity 0.5s 1s,
      0.5s background cubic-bezier(0.4, 0, 0.2, 1);
  }
  .reveal-child {
    opacity: 0;
    transition:
      opacity 0.5s 0.4s,
      transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    &.reveal-center-banner {
      transform: rotateY(720deg) scale(0);
    }
    &.logo-icon {
      transform: scale(2) skew(30deg, 30deg) rotate(-35deg);
      opacity: 0;
      transition:
        opacity 2s 3s,
        transform 5s 2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .item {
    .reveal-child {
      &:is(h2) {
        transform: translateY(40px);
        opacity: 0;
        transition:
          opacity 2s 5s,
          transform 1s 5s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &.active {
    .item .reveal-child,
    .reveal-button,
    .reveal-child {
      opacity: 1;
      transform: rotateY(0) scale(1);
      -webkit-transform: rotateY(0) scale(1);
      -moz-transform: rotateY(0) scale(1);
      -ms-transform: rotateY(0) scale(1);
      -o-transform: rotateY(0) scale(1);
      translate: 0 0;
      &.logo-icon {
        transform: scale(1) skew(0, 0) rotate(0);
      }
    }
  }
}
.parent-delay.reveal.active {
  .reveal-child {
    &[data-item-show="1"] {
      transition-delay: 1s;
    }
    &[data-item-show="2"] {
      transition-delay: 2s;
    }
    &[data-item-show="3"] {
      transition-delay: 3s;
    }
    &[data-item-show="4"] {
      transition-delay: 4s;
    }
    &[data-item-show="5"] {
      transition-delay: 5s;
    }
  }
}
.container {
  padding: 80px 40px;
  max-width: 1400px;
  margin-inline: auto;
  @media (max-width: 778px) {
    padding-inline: 20px;
  }
  @media (max-width: 448px) {
    padding-inline: 10px;
  }
}
* {
  font-size: $normal-font;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  z-index: 10;
  transition: all 0.3s ease;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding-block: 40px;
    gap: 24px;
    .logo {
      max-width: 150px;
      transition: all 0.3s ease;
      height: auto;
      a {
        display: flex;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.3s ease;
        }
      }
    }
    .options {
      display: flex;
      align-items: center;
      gap: 24px;
      .search {
        width: 16px;
        height: 16px;
      }
      .language {
        background: none;
        border: none;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: $primary-text-color;
        }
      }
      .links {
        position: relative;
        min-width: 240px;
        border-top: 1px solid #fff;
        color: #fff;
        .header-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 12px;
          z-index: 1;
          .active-link {
            font-weight: bold;
            z-index: -1;
          }
          .toggle-links {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            padding: 0;
            background: none;
            border: none;
            padding: 2px;
            z-index: 4;
            outline: none;
            img {
              rotate: 45deg;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .list-links {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          max-height: 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;
          opacity: 0;
          pointer-events: none;
          background: $secondary-color;
          z-index: 1;
          transform-origin: top;
          transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
          padding: 0;
          overflow: hidden;
          li {
            display: flex;
            transform: translateY(-10px);
            transition: transform 0.3s ease;
            a {
              padding-inline: 12px;
              text-decoration: none;
              font-size: $normal-font;
              padding-block: 4px;
              color: #fff;
              font-weight: bold;
              transition: color 0.3s ease;
              font-weight: bold;
              &:hover,
              .active-link {
                color: $primary-text-color;
              }
            }
          }
          &.toggled {
            opacity: 1;
            max-height: 500px;
            pointer-events: all;
            padding: 20px 0 8px;
            li {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
  &.scrolled {
    background: rgba(51, 51, 51, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    .container {
      padding-block: 10px;
      .logo {
        a {
          img {
            max-height: 50px;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
@media (max-width: 778px) {
  nav .container {
    gap: 12px;
  }
  nav .container .options {
    gap: 8px;
  }
  nav .container .options .links .header-links,
  nav .container .options .links .list-links.toggled {
    padding-block: 8px;
  }
  nav .container .options .links .header-links,
  nav .container .options .links .list-links li a {
    font-size: 16px;
  }
  nav .container .options .links {
    min-width: 180px;
  }
  nav .container .logo {
    width: 80px;
  }
}
@media (max-width: 448px) {
  nav .container {
    gap: 12px;
  }
  nav .container .options {
    gap: 8px;
  }
  nav .container .options .links .header-links,
  nav .container .options .links .list-links.toggled {
    padding-block: 8px;
  }
  nav .container .options .links .header-links,
  nav .container .options .links .list-links li a {
    font-size: 14px;
  }
  nav .container .options .links {
    min-width: 160px;
  }
}
.pattern-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150dvh;
  z-index: -4;
  pointer-events: none;
  &.pattern-square{
    height: auto;
    width: 30%;
    max-width: 300px;
    bottom: 0;
    top: auto;
    right: 150px;
    left: auto;
    z-index: -3;
    
    img {
      object-fit: contain;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.custom-button {
  font-size: $button-font;
  border: 1px solid $primary-text-color;
  border-radius: 16px;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 32px;
  transition: 0.3s all ease-in-out;
  &:hover {
    background: $primary-text-color;
  }
}
.contactus{
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index:10;
  .container {
    width: 100%;
    display: flex;
    padding-block: 0;
    justify-content: flex-end;
    .contactBTN {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      font-size: $button-font;
      color: #fff;
      text-decoration: none;
      padding: 8px;
      border: 1px solid $primary-text-color;
      transition: 0.3s all ease-in-out;
      backdrop-filter: blur(10px);
      &:hover {
        background-color: $primary-text-color;
      }
      img {
        width: 20px;
        height: auto;
      }
    }
  }
}
.banner {
  overflow: hidden;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 150px;
    .hero-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      .title {
        color: #fff;
        font-weight: bold;
        font-size: $font-xl;
        max-width: 30%;
      }
      .centered-image {
        display: flex;
      }
      .description {
        color: #fff;
        max-width: 30%;
        font-size: $normal-font;
        font-weight: 500;
      }
      @media (max-width: 992px) {
        flex-direction: column;
        .centered-image,
        .description,
        .title {
          max-width: 100%;
          text-align: center;
        }
        .centered-image {
          max-height: 400px;
          img {
            max-height: 100%;
            object-fit: contain;
          }
        }
        @media (max-width: 778px) {
          .centered-image {
            max-height: 300px;
          }
        }
      }
    }
    .footer-banner {
      display: flex;
      justify-content: center;
      .startBTN {
        background-color: #fff;
        padding: 12px 16px;
        border-radius: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        transition: 0.3s all ease-in-out;
        &:hover {
          background-color: #afafaf;
        }
      }
    }
  }
}

.about {
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .comma {
        width: 26px;
        margin-bottom: 8px;
      }
      .title {
        font-size: $font-lg;
        color: #fff;
        margin: 0;
        &.primary-text {
          color: $primary-text-color;
        }
      }
      .list-description {
        padding-block: 20px;
        .description {
          height: 100%;
          color: #fff;
          font-size: $normal-font;
          max-height: 0px;
          overflow: hidden;
          opacity: 0;
          transition:
            0.5s opacity ease-in-out,
            0.5s max-height ease-in-out;
          &.active {
            opacity: 1;
            max-height: none;
          }
        }
      }
      .description-taps {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #ffffff8f;
        font-weight: bold;
        .tab-link {
          cursor: pointer;
          margin-block: 0;
          font-size: $font-sm;
          transition: 0.5s all ease-in-out;
          &.active,
          &:hover {
            color: $primary-text-color;
          }
        }
      }
    }
    .right-side {
      position: relative;
      max-width: 40%;
      flex: 1;
      display: flex;
      .logo-icon {
        width: 200px;
      }
      .item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        h2 {
          color: #fff;
          font-size: $font-semi-lg;
          margin: 0;
          padding: 4px 20px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: skew(-30deg);
          }
          &.title {
            &::before {
              border: 1px solid;
              border-color: #fff transparent transparent #fff;
            }
          }
          &.value {
            color: $primary-text-color;
            &::before {
              display: none;
            }
          }
        }
        &:nth-child(4),
        &:nth-child(5) {
          h2 {
            &.title {
              &::before {
                display: none;
              }
            }
            &.value {
              &::before {
                border: 1px solid;
                border-color: transparent transparent #fff #fff;
                display: block;
                transform: skew(30deg);
              }
            }
          }
        }
        &:nth-child(2) {
          top: -120px;
          left: 10%;
        }
        &:nth-child(3) {
          top: -60px;
          left: 250px;
        }
        &:nth-child(4) {
          top: 80px;
          left: 250px;
        }
        &:nth-child(5) {
          top: 140px;
          left: 10%;
        }
      }
    }
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      .right-side,
      .left-side {
        max-width: 100%;
      }
      .right-side {
        padding-bottom: 160px;
        margin-top: 60px;
        .item:nth-child(2) {
          top: -120px;
          left: -70px;
          h2 {
            &.title::before {
              display: block;
              border: 1px solid;
              border-color: #fff #fff transparent transparent;
              transform: skew(35deg);
            }
          }
        }
        .item:nth-child(3) {
          top: -120px;
          left: 120px;
        }
        .item:nth-child(4) {
          top: 150px;
          left: 120px;
        }
        .item:nth-child(5) {
          top: 150px;
          left: -20px;
          h2.value::before {
            border: 1px solid;
            border-color: transparent #fff #fff transparent;
            transform: skew(-35deg);
          }
        }
      }

      .left-side {
        align-items: center;
        text-align: center;
      }
    }
  }
}

.portfolio {
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .left-side {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .comma {
        width: 26px;
        margin-bottom: 8px;
      }
      .title {
        font-size: $font-lg;
        color: #fff;
        font-weight: bold;
        margin: 0;
        &.primary-text {
          color: $primary-text-color;
        }
      }
      .portfolio-taps {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: #ffffff8f;
        font-weight: bold;
        .tab-link {
          cursor: pointer;
          margin-block: 0;
          font-size: 11pt;
          transition: 0.3s all ease-in-out;
          &.active,
          &:hover {
            font-size: $font-md;
            color: #FFF;
          }
        }
      }
    }
    .right-side{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 800px;
      margin-inline: auto;
      gap: 20px;
      .header-slider{
        display: flex;
        a{
          margin: 0;
        }
      }
      .container-sliders{
        display: flex;
        flex: 1;
        width: 100%;
      
        .slider-item{
          flex: 1;
          max-width: 100%;
          .swiper{
            width: 100%;
            overflow: visible;
            
          }
          .swiper-slide{
            .container-slider{
              display: flex;
              gap: 24px;
              .image-slider{
                display: flex;
                justify-content: center;
                translate: -100px -100px;
                opacity: 0;
                transition: .4s .4s all ease-in-out;
                height: 300px;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .content-slider{
                flex: 1;
                translate: 100px -100px;
                opacity: 0;
                transition: .4s .4s all ease-in-out;
                .title{
                  overflow: hidden;
                  position: relative;
                  flex: 1;
                  border-bottom: 1px solid white;
                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background:repeating-linear-gradient(-45deg, #21222a, #21222a 5px, rgba(51, 51, 51, 0.9) 9px, rgba(51, 51, 51, 0.9) 1px);
                    z-index: -1;
                  }
                  &::after{
                    content:"";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 10px solid;
                    border-color: $primary-text-color transparent transparent $primary-text-color;
                    z-index: -1;
                  }
                  h3{
                    font-weight: bold;
                    font-size: $font-lg;
                    color: #FFF;
                    margin-block: 0;
                    padding: 8px 20px;
                  }
                }
                
                .container-details{
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  padding-block: 20px;
                  .details{
                    .opening-year,
                    .location{
                      font-size: clamp(16px,2vw,24px);
                      font-weight: bold;
                    }
                    .opening-year{
                      color: $primary-text-color;
                    }
                  }
                }
              }
            }
            &:nth-child(ODD){
              .image-slider{
                translate: 100px -100px;
                opacity: 0;
              }
              .content-slider{
                translate: -100px -100px;
                opacity: 0;
              }
              .container-slider{
                flex-direction: row-reverse;
              }
            }
            &.swiper-slide-active,
            &.swiper-slide-active:nth-child(ODD){
              .container-slider{
                .image-slider{
                  translate: 0 0;
                  opacity: 1;
                }
                .content-slider{
                  translate: 0 0;
                  opacity: 1;
                }
              }
            }
          }
          .footer-slider{
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-bottom:30px ;
            .container-navigation{
              display: flex;
              justify-content: flex-end;
              margin-top: 12px;
              gap: 12px;
              .navigation-button{
                position: static;
                font-weight: 900;
                transition: .3s all ease-in-out;
                color: #FFF;
                &::after{
                  font-size: 24px;
                }
                &.swiper-button-disabled{
                  opacity: 0;
                }
              }
            }
            .pagination-slider{
              width: 100%;
              .swiper{
                padding-bottom: 40px;
              }
              .swiper-wrapper{
                width: fit-content;
                position: relative;
                &::before{
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  width: 100%;
                  height: 1px;
                  border-bottom: 4px dotted #FFF;
                }
              }
              .swiper-slide{
                background-color: #FFF;
                width: 20px;
                height: 20px;
                position: relative;
                border-radius: 50%;
                display: block;
                cursor: pointer;
                pointer-events: all;
                &:not(:last-child){
                  margin-right: 80px;
                }
                &::before{
                  content: "";
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  background: $primary-text-color;
                  border-radius: 50%;
                  opacity: 0;
                  transition: 0.5s all ease-in-out;
                }
                &.swiper-slide-active{
                  &::before{
                    opacity: 1;
                  }
                }
                span{
                  position: absolute;
                  bottom:-40px ;
                  left: 50%;
                  translate: -50% 0;
                  color: white;
                }
              }
            }
          }
        }
      }
      .container-sliders {
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        .slider-item {
          height: 100%;
          color: #fff;
          font-size: $normal-font;
          max-height: 0px;
          
          opacity: 0;
          transition:
            0.5s opacity ease-in-out,
            0.5s .5s max-height ease-in-out;
          &.active {
            opacity: 1;
            max-height: none;
          }
        }
      }
      .portfolio-taps {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #ffffff8f;
        font-weight: bold;
        .tab-link {
          cursor: pointer;
          margin-block: 0;
          font-size: $font-sm;
          transition: 0.5s all ease-in-out;
          &.active,
          &:hover {
            color: $primary-text-color;
          }
        }
      }
    }
    @media (max-width:1100px) {
      flex-direction: column;
      gap: 24px;
      .left-side,
      .right-side{
        max-width: 100%;
        width: 100%;
      }
      .left-side{
        .portfolio-taps{
          padding-block: 12px;
          flex-direction: row;
          overflow:  auto  ;
          text-wrap: nowrap;
          max-width: 100%;
          scroll-behavior: smooth;
          -webkit-overflow-scrolling: touch;
          overscroll-behavior-x: auto;
          scroll-snap-type: x mandatory;
        }
      }
      .right-side{
        
        .container-sliders .slider-item .swiper-slide .container-slider,
        .container-sliders .slider-item .swiper-slide:nth-child(odd) .container-slider{
          flex-direction: column;
        }
      }
    }
  }
}

.partner{
  overflow: hidden;
  padding-block: 120px;
  position: relative;
  .background-image{
    position: absolute;
    right: 0;
    top: -80px;
    z-index: -1;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 1 auto;
      .comma {
        width: 26px;
        margin-bottom: 8px;
      }
      .title {
        font-size: $font-lg;
        color: #fff;
        margin: 0;
        font-weight: bolder;
        letter-spacing: 2px;
        &.primary-text {
          color: $primary-text-color;
        }
      }
      .description{
        font-size: 18px;
        color: #FFF;
        font-weight: 300;
        max-width: 380px;
        margin-top: 30px;

      }
    }
    .right-side{
      .image{
        flex: 1;
        animation: animate-partner-image 1.5s infinite alternate;
        img{
          width: 100%;
        }
      }
    }
    @media (max-width:992px) {
      flex-direction: column-reverse;
      .left-side{
        width: 100%;
        .description{
          max-width: 100%;
        }
      }
    }
  }
}
@keyframes animate-partner-image {
  from{
    translate: 0 -80px;
  }
  to{
    translate: 0 0;
  }
  
}
footer{
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 64px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    background: linear-gradient(to bottom, $primary-text-color-opacity,black);
    position: relative;
    z-index: 10;
    .toTopBTN{
      position: absolute;
      bottom: 60px;
      right: 20px;
      color: white;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      @media (max-width:668px) {
        bottom: 30px;
      }
      .arrow-top{
        width: 40px;
        height: 40px;
        rotate:180deg;
        border: 1px solid #FFF;
        padding: 8px;
        border-radius: 50%;
        transition: .3s all ease-in-out;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        .arrow-top{
          border: 1px solid $primary-text-color;
          background-color: $primary-text-color;
        }
      }
    }
   .list-footer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 400px;
    &:first-child{
      max-width: 500px;
      .footer-section{
        .content{
          gap: 24px;
        }
      }
    }
     .footer-section{
      display: flex;
      align-items: flex-start;
      gap: 24px;
      
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
        width: 26px;
        img{
          object-fit: contain;
          height: 100%;
          width: 100%;
          
        }
      }
      .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        gap: 8px;
        .title{
          margin: 0;
          font-weight: 500;
          font-size: $font-footer-title;
          color: #FFF;
          word-spacing: 3px;
        }
        a,
        .subtitle{
          margin: 0;
          font-size: $font-md;
          color: #FFF;
          text-decoration: none;
          &.value{
            font-weight: 400;
          }
        }
        .custom-button{
          margin-top: 0;
          border-radius: 25px;
          padding: 16px 32px;
          display: flex;
          justify-content: center;
        }
      }
    }
    &:has(.copyright){
      max-width: 500px;
      .copyright{
        font-size: 18px;
        color: white;
        font-weight: 400;
      }
    }
    &:has(.links){
      flex: 1;
      max-width: 700px;
      .links{
        display: flex;
        gap: 26px;
        font-size: 18px;
        color: white;
        font-weight: 400;
        a{
          display: flex;
          justify-content: center;
          height: 27px;
          width: auto;
          img{
            transition: .3s all ease-in-out;
          }
          &:hover img{
            filter: brightness(.6);
          }
        }
      }
    }
   }
   @media (max-width:992px) {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    row-gap: 32px;
    .list-footer{
      flex: 1 1 0;
      min-width: 250px;
      MAX-width: 100%;
      &:first-child{
        max-width: 100%;
        flex: 1 1 100%;
      }
      &:has(.copyright){
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
      }
      &:has(.links){
        max-width: 100%;
        flex: 1 1 100%;
        .links{
          justify-content: center;
        }
      }
    }
    
   }
  }
}