@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Colors
$primary-color: #000;
$secondary-color: #333;
$accent-color: #007bff;
$text-color: #212121;
$primary-text-color: #59BDC1;
$light-color: #fff;
*{
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #afafaf;
}

.reveal {
    .reveal-child{
        opacity: 0;
        transition: opacity 0.5s .4s ease-in-out;
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        &.reveal-center-banner{
            transform: rotateY(720deg) scale(0);
            -webkit-transform: rotateY(720deg) scale(0);
            -moz-transform: rotateY(720deg) scale(0);
            -ms-transform: rotateY(720deg) scale(0);
            -o-transform: rotateY(720deg) scale(0);
}
    }
    &.active{
        .reveal-child{
            opacity: 1;
            transform: rotateY(0) scale(1);
            -webkit-transform: rotateY(0) scale(1);
            -moz-transform: rotateY(0) scale(1);
            -ms-transform: rotateY(0) scale(1);
            -o-transform: rotateY(0) scale(1);
}
    }
}
.parent-delay.reveal.active {
    .reveal-child {
        &[data-item-show="1"] { transition-delay: 0.5s; }
        &[data-item-show="2"] { transition-delay: 1s; }
        &[data-item-show="3"] { transition-delay: 1.5s; }
        &[data-item-show="4"] { transition-delay: 2s; }
        &[data-item-show="5"] { transition-delay: 2.5s; }
    }
}
.container{
    padding-inline: 40px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    z-index: 10;
    .container{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 40px;
        .logo{
            width: 150px;
            height: auto;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .options{
            display: flex;
            align-items: center;
            gap: 24px;
            .search{
                width: 24px;
                height: 24px;
            }
            .language{
                background: none;
                border: none;
                font-weight: bold;
                color: #FFF;
                cursor: pointer;
            }
            .links{
                position: relative;
                min-width: 240px;
                border-top: 1px solid #FFF;
                color: #FFF;
                .header-links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    padding: 20px 12px;
                    z-index: 1;
                    .active-link{
                        font-weight: bold;
                        z-index: -1;
                    }
                    .toggle-links{
                        display: flex;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        width: 28px;
                        height: 28px;
                        padding: 0;
                        background: none;
                        border: none;
                        padding: 2px;
                        z-index: 4;
                        outline: none;
                        img{
                            rotate: 45deg;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
    
                    }
                }
                .list-links{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    max-height: 0;
                    list-style: none;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    opacity: 0;
                    pointer-events: none;
                    background: $secondary-color;
                    z-index: 1;
                    transform-origin: top;
                    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    padding: 0;
                    overflow: hidden;
                    li {
                        display: flex;
                        transform: translateY(-10px);
                        transition: transform 0.3s ease;
                        a {
                            padding-inline: 12px;
                            text-decoration: none;
                            font-size: 18px;
                            padding-block: 4px;
                            color: #FFF;
                            font-weight: bold;
                            transition: color 0.3s ease;
                            font-weight: bold;
                            &:hover,     
                            .active-link {
                                color: $primary-text-color;
                            }
                        }
                    }
                    &.toggled {
                        opacity: 1;
                        max-height: 500px;
                        pointer-events: all;
                        padding: 20px 0 8px;
                        li {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}
.pattern-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -10;
    pointer-events: none;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.banner{
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-block: 150px  20px;
        .hero-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            .title{
                color: #FFF;
                font-weight: bold;
                font-size: clamp(42px,5.4vw,80px);
                max-width: 30%;
            }
            .centred-image{
                width: 25%;
            }
            .description{
                color: #FFF;
                max-width: 30%;
                font-size: clamp(18px,2vw,24px);
                font-weight: bold;
            }
        }
    }
}